---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { ViewTransitions } from 'astro:transitions';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, heroBackground, pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		{heroImage && <link rel="preload" href={heroImage} as="image" fetchpriority="high" />}
		<ViewTransitions />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
				position: relative;
			}
			.hero-image {
				width: 100%;
				background-size: cover;
				background-position: center;
				position: relative;
				background-color: white;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.hero-title {
				font-family: "Superglue";
				font-size: 5.5rem;
				color: white;
				position: absolute;
				top: 2rem;
				left: 2rem;
				margin: 0;
				z-index: 10;
			}
			.hero-bg { color: white; }
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			@media (max-width: 720px) {
				.hero-title {
					font-size: 3rem;
					top: 1rem;
					left: 1rem;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image" style={heroBackground && heroImage ? `background-image: url('${heroImage}'); height: 50vh;` : ''}>
					{!heroBackground && heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
					{heroBackground && pageTitle && <h1 class="hero-title">{pageTitle}</h1>}
				</div>
				<div class={`prose ${heroBackground ? 'hero-bg' : ''}`}>
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
